In [1]:
from dataclasses import dataclass
import numpy as np
import pandas as pd

In [5]:
FILEPATH = "/Users/avilayparekh/mldata/kaggle-criteo/small_train.txt"

In [6]:
cols = ["Label"] + [f"I{i}" for i in range(1, 14)] + [f"C{i}" for i in range(1, 27)]
cols

['Label',
 'I1',
 'I2',
 'I3',
 'I4',
 'I5',
 'I6',
 'I7',
 'I8',
 'I9',
 'I10',
 'I11',
 'I12',
 'I13',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21',
 'C22',
 'C23',
 'C24',
 'C25',
 'C26']

In [7]:
df = pd.read_csv(FILEPATH, sep="\t", header=None, names=cols)

In [8]:
df.head(5)

,Label,I1,I2,I3,I4,I5,I6,I7,I8,I9,...,C17,C18,C19,C20,C21,C22,C23,C24,C25,C26
0,1,NaN,0,1.0,4.0,8530.0,89.0,56.0,3.0,653.0,...,e5ba7672,6fc84bfb,NaN,NaN,4f1aa25f,NaN,423fab69,ded4aac9,NaN,NaN
1,0,0.0,-1,NaN,NaN,4173.0,35.0,1.0,2.0,31.0,...,d4bb7bd8,66c3058a,NaN,NaN,a645a590,NaN,c7dc6720,043ce596,NaN,NaN
2,0,0.0,32,63.0,8.0,240.0,135.0,10.0,48.0,130.0,...,e5ba7672,005c6740,21ddcdc9,5840adea,2fd40314,NaN,32c7478e,1793a828,e8b83407,b9809574
3,0,NaN,1,5.0,NaN,2838.0,39.0,1.0,0.0,9.0,...,d4bb7bd8,d1c83925,NaN,NaN,3777e5ab,NaN,3a171ecb,b2f178a3,NaN,NaN
4,0,NaN,14,0.0,2.0,6999.0,18.0,8.0,2.0,64.0,...,3486227d,526e8765,NaN,NaN,1797596a,NaN,32c7478e,45b2acf4,NaN,NaN